/* Default Styling */
* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
/* Navigation Menu Styling */
.nav,
.menu-container,
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav,
.hero {
	background-color: #004644;
	padding: 20px 150px;
}

.logo h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: 600;
	color: aliceblue;
}

.menu a,
.nav-btn a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: aliceblue;
	text-decoration: none;
	padding-right: 30px;
}

.nav-btn a {
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 0.2);
	padding: 10px 30px;
}
.nav-btn a:hover {
	background-color: aliceblue;
	color: #004644;
}

/* Hero Section Styling  */
.hero-text h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: 700;
	color: white;
	padding-bottom: 30px;
}
.hero-text p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #fafafaba;
	padding-bottom: 40px;
	line-height: 40px;
}

.hero-text a,
.about-text a,
.service-1 a,
.service-2 a,
.service-3 a {
	background-color: #dd5428;
	padding: 20px 30px;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: white;
	text-decoration: none;
}

/* About Us Styling */
.about-us {
	padding: 80px 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.about-text h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 45px;
	font-weight: 600;
	color: #004644;
	padding-bottom: 30px;
}

.about-text p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #004644a1;
	line-height: 30px;
	padding-bottom: 50px;
}

.about-text,
.about-img {
	width: 50%;
}
.about-img {
	padding-left: 100px;
}

.about-img img {
	width: 100%;
}

/* Service Section Styling  */
.service {
	padding: 80px 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
}

.service-1,
.service-2,
.service-3 {
	width: 32%;
	background-color: #004644;
	padding: 30px;
	padding-bottom: 60px;
}

.service-2 {
	margin: 0px 40px;
}

.service-1 img,
.service-2 img,
.service-3 img {
	width: 320px;
	height: 200px;
	padding-bottom: 20px;
}

.service-1 h1,
.service-2 h1,
.service-3 h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 35px;
	font-weight: 700;
	color: aliceblue;
	padding-bottom: 20px;
}

.service-1 p,
.service-2 p,
.service-3 p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: aliceblue;
	line-height: 25px;
	font-weight: 200;
	padding-bottom: 40px;
}
